* {
    font-family: 'Varela Round', sans-serif;
    color: white;
}

/* Gradient Background */
.bg-gradient, body {
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #182848, #4b6cb7)  no-repeat fixed;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #182848, #4b6cb7)  no-repeat fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Box Shadow */
.box-shadow {
    box-shadow: -5px 5px 7px rgb(39, 39, 39);
}

/* Text Shadow */
.text-shadow {
    text-shadow: -5px 5px 7px black;
}

/* Gray Text */
.text-gray {
    color: rgb(192, 192, 192);
}

/* Gray List Items (Applied to Parent) */
.li-gray li {
    color: rgb(192, 192, 192);
}

.li-gray li a {
    text-decoration: none;
    color: rgb(192, 192, 192);
}

.li-gray li a:hover {
    text-decoration: underline;
    color: white;
}

/* Rounded Borders */
.border-rounded {
    border-radius: 25px;
}